<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheapTrip</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Route search</h2>
    <input type="text" id="origin" placeholder="From">
    <input type="text" id="destination" placeholder="To">
    <button onclick="calculateRoute()">Search</button>
    <div id="output"></div>
    <table id="fuelTable" style="display: none;">
        <thead>
            <tr>
                <th>Fuel Type</th>
                <th>Price per Unit</th>
                <th>Estimated Cost</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="map"></div>
    
    <script src="script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap"></script>
</body>
</html>